<ion-header>
  <ion-toolbar color="primary">
    <ion-title>સેવ કરેલા હિસાબ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let item of savedDataList" style="border-radius: 15px; margin-bottom: 10px; border-left: 5px solid #b31217;">
    <ion-card-header>
      <ion-card-title>{{ item.driverName }}</ion-card-title>
      <ion-card-subtitle>{{ item.date | date:'dd/MM/yyyy' }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>⚖️ કુલ વજન: <b>{{ item.totalWeight }} kg</b></p>
      <h2 style="color: #2e7d32;">ચોખ્ખી આવક: ₹ {{ item.netIncome }}</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
